$orange: #fcb599; 
$green: #00F4be;
$green-active: rgba(0, 244, 191, 0.753);
$beige: #F9F8F6;
$lightblue: #2e4d59;
$blue: #243c47;
$brown: #978d83;
$textColor: #2e4d59;

$borderRadius: 3px;

h3 {
    font-size: 1.5rem;
}

.p0 {
    padding-left: 0;
    padding-right: 0;
}