<div class="outer">
    <div class="middle {{colorClass}} {{instaClass}}">
        <div class="inner">
            <div>
                <div ng-click="#" ng-mouseenter="ChangeBackground('orange')" ng-mouseleave="ChangeBackground('')" class="circle orange {{blackWhite}}"></div>
                <div ng-click="#" ng-mouseenter="ChangeBackground('blue')" ng-mouseleave="ChangeBackground('')" class="circle blue {{blackWhite}}"></div>
                <div ng-click="#" ng-mouseenter="ChangeBackground('green')" ng-mouseleave="ChangeBackground('')" class="circle green {{blackWhite}}"></div>
            </div>
            <h1 ng-click="go('/instagram')" ng-mouseenter="showInstagram()" ng-mouseleave="hideInstagram()">{{teamRunaway}}</h1>
        </div>
    </div>
</div>

<div class="insta-intro overflow-hide" ng-show="instagram" ng-init="instagram=false">
    <div class="instagram-block" ng-repeat="p in pics">
        <img ng-src="{{p.images.low_resolution.url}}" />
    </div>
</div>
