<div class="container">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <h1>Fløyen Opp</h1>
                <h2>27.04.2015</h2>
                <div class="logo">
                    <img width="100px" src="/Content/Images/Logo/fløyenopp.jpg" alt="Logo" />
                </div>
                <div class="info">
                    Motbakkeløp <br />
                </div>
            </div>
            <div class="back">
                <h1>Results</h1>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Time</th>
                        <th>Place</th>
                    </tr>
                    <tr>
                        <td>Heine</td>
                        <td>60</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <td>Mathilde</td>
                        <td>60</td>
                        <td>60</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <h1>Bergen City Marathon</h1>
                <h2>27.04.2015</h2>
                <div class="logo">
                    <img width="100px" src="/Content/Images/Logo/bcm.jpg" alt="Logo" />
                </div>
                <div class="info">
                    42km and 21km <br />
                </div>
            </div>
            <div class="back">
                <h1>Results</h1>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Time</th>
                        <th>Place</th>
                    </tr>
                    <tr>
                        <td>Heine</td>
                        <td>60</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <td>Henrik</td>
                        <td>60</td>
                        <td>60</td>

                    </tr>
                    <tr>
                        <td>Brede</td>
                        <td>60</td>
                        <td>60</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <h1>
                    Red Bull<br />Wings for Life
                </h1>
                <h2>13.06.2015</h2>
                <div class="logo">
                    <img width="100px" src="/Content/Images/Logo/wingsForLife.png" alt="Logo" />
                </div>
                <div class="info">
                    Stavanger <br />

                </div>
            </div>
            <div class="back">
                <h1>Results</h1>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Time</th>
                        <th>Place</th>
                        <th>Distance</th>
                    </tr>
                    <tr>
                        <td>Heine</td>
                        <td>60</td>
                        <td>60</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <td>Henrik</td>
                        <td>60</td>
                        <td>60</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <td>Mathilde</td>
                        <td>60</td>
                        <td>60</td>
                        <td>60</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <h1>UltraBirken</h1>
                <h2>13.06.2015</h2>
                <div class="logo">
                    <img width="100px" src="/Content/Images/Logo/birken_logo.png" alt="Logo" />
                </div>
                <div class="info">
                    Run: 62km <br />
                    Sjusjøen to Lillehammer
                </div>
            </div>
            <div class="back">
                <h1>Results</h1>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Ski</th>
                        <th>Place</th>
                    </tr>
                    <tr>
                        <td>Heine</td>
                        <td>60</td>
                        <td>60</td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <h1>Birkebeinerløpet</h1>
                <h2>13.06.2015</h2>
                <div class="logo">
                    <img width="100px" src="/Content/Images/Logo/birken_logo.png" alt="Logo" />
                </div>
                <div class="info">
                    Run: 21km <br />
                    Lillehammer
                </div>
            </div>
            <div class="back">
                <h1>Results</h1>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Ski</th>
                        <th>Place</th>
                    </tr>
                    <tr>
                        <td>Brede</td>
                        <td>60</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <td>Henrik</td>
                        <td>60</td>
                        <td>60</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>