<div class="container">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <h1>Strilaman</h1>
                <h2>09.08.2015</h2>
                <div class="logo">
                    <img width="80px" src="/Content/Images/Logo/strilaman.png" alt="Logo" />
                </div>
                <div class="info">
                    Swim: 750m <br />
                    Bike: 22km <br />
                    Run: 8km
                </div>
            </div>
            <div class="back">
                <h1>Results</h1>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Swim</th>
                        <th>Bike</th>
                        <th>Run</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <td>Brede</td>
                        <td>60</td>
                        <td>60</td>
                        <td>60</td>
                        <td>60</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <h1>VossaTRI</h1>
                <h2>27.06.2015</h2>
                <div class="logo">
                    <img width="200px" src="/Content/Images/Logo/ekstremsportveko.png" alt="Logo" />
                </div>
                <div class="info">
                    Swim: 200m <br />
                    Bike: 22km <br />
                    Run: 5km
                </div>
            </div>
            <div class="back">
                <h1>Results</h1>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Swim</th>
                        <th>Bike</th>
                        <th>Run</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <td>Brede</td>
                        <td>60</td>
                        <td>60</td>
                        <td>60</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <td>Henrik</td>
                        <td>60</td>
                        <td>60</td>
                        <td>60</td>
                        <td>60</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <h1>Birkebeinerrennet</h1>
                <h2>27.06.2015</h2>
                <div class="logo">
                    <img width="100px" src="/Content/Images/Logo/birken_logo.png" alt="Logo" />
                </div>
                <div class="info">
                    Ski: 54km <br/>
                    Rena to Lillehammer
                </div>
            </div>
            <div class="back">
                <h1>Results</h1>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Ski</th>
                        <th>Place</th>
                    </tr>
                    <tr>
                        <td>Heine</td>
                        <td>60</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <td>Henrik</td>
                        <td>60</td>
                        <td>60</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>